* {
    text-align: center;
    background-color: #1e1e1e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#favicon{
    width: 100px;
    margin-top:20vh;

}

.heading {
    margin-top: 10vh;
    color: #EEEEEE;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
    
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #9500ff;
    background: #1e1e1e;
    outline:none;
    border-radius: 10px;
    color: white;
}
.URL-input:focus {
    border:2px solid #9500ff;
    border-radius: 10px;
}
.convert-button {
    border-radius:4px 4px 4px 4px;
    border:2px solid #9500ff;
    background: #9500FF;
    color:white;
}